<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nisi in quisquam eligendi dolorum aliquam nostrum labore modi autem, recusandae sequi enim, eveniet numquam, tempore provident. Nulla inventore mollitia magni.</p>
    </div>
</div>