<div class="jumbotron mt-4">
    <h1 class="display-4">Notas app nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed illum ut nemo eligendi repellendus! Culpa?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis facere veniam aspernatur rem at quam assumenda fugit cumque veritatis quibusdam officiis cupiditate, porro itaque esse! Sed, ea at voluptas animi cum ullam et quas perspiciatis tempore nesciunt corrupti. Maxime, veniam?</p>
    <a href="#" class="btn btn-primary btn-lg">Go to</a>
</div>